.payment {
  display: flex;
  padding: 10px;
}
.payment__title {
  padding: 10px;
}
.payment__itemCount {
  padding: 10px;
  color: rgb(148, 148, 148);
}
.payment__summary {
  flex: 0.5;
  background-color: white;
}
.payment__method {
  flex: 0.5;
  padding: 10px;
}

.payment__address {
  width: 100%;
  height: 30px;
  outline-width: 0;
  border: 1px solid lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
}

.payment__cardForm {
  padding: 5px;
  border-radius: 4px;
  background-color: white;
}

.payment__cardInput {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
}
.payment__cardForm > label {
  margin-top: 5px;
  font-weight: 500;
}

.payment__button {
  background-color: #f0c14f;
  border-radius: 2px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  color: #111;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 20px;
  outline-width: 0;
}

@media (max-width: 885px) {
  .payment {
    flex-direction: column;
  }
}
